---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero';
import Contact from '../components/Contact';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
---

<BaseLayout>
	<div class="single-screen-layout">
		<Hero client:load />
	</div>
	<Contact client:idle />
</BaseLayout>
